<div class="card-columns" *ngIf="Notes && Notes.length">
<!--  <div class="card">
  <div class="card-header">
    Notes1 
    <span class="float-right">
      <fa-icon slot="start" [icon]="['fas','concierge-bell']" class="pr-1"></fa-icon>
      <fa-icon slot="start" [icon]="[isFas?'fas':'far','star']" class="pr-1" (click)="onFavClick()"></fa-icon>
      <fa-icon slot="start" [icon]="['fas','tag']"></fa-icon>
    
    </span>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special Notes1</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Delete</a>   
    <br/>
    <small class="text-muted pr-1 border rounded-pill">
        <span>
          <fa-icon [icon]="['far','clock']"></fa-icon>
        </span>Yesterday, 20:30</small> 
  </div>
  <div class="card-footer">
    <small class="text-muted pr-3">Notes_Label</small>
    <small class="text-muted">Notes_Label2</small>
  
  </div>
</div>

<div class="card">
  <div class="card-header">
    Notes2
    <span class="float-right">
      <fa-icon slot="start" [icon]="['fas','concierge-bell']" class="pr-1"></fa-icon>
      <fa-icon slot="start" [icon]="['far','star']" ></fa-icon>
    </span>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special Notes2</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Delete</a>  
    <br/>
    <small class="text-white bg-dark border border-dark rounded-pill pr-1">
        <span>
          <fa-icon [icon]="['far','clock']"></fa-icon>
        </span>Tomorrow, 20:30</small> 
  </div>
</div>

<div class="card">
  <div class="card-header">
    Notes3
    <span class="float-right">
      <fa-icon slot="start" [icon]="['fas','concierge-bell']" class="pr-1"></fa-icon>
      <fa-icon slot="start" [icon]="['far','star']" ></fa-icon>
    </span>
    
  </div>
  <div class="card-body">
    <h5 class="card-title">Special Notes3</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Delete</a> 
    <br/>
    <del>
    <small class="text-muted pr-1 border rounded-pill">
        <span>
          <fa-icon [icon]="['far','clock']"></fa-icon>
        </span>Yesterday, 15:30</small></del>    
  </div>
</div>
<div class="card">
    <div class="card-header">
      Notes4
      <span class="float-right">
        <fa-icon slot="start" [icon]="['fas','concierge-bell']" class="pr-1"></fa-icon>
        <fa-icon slot="start" [icon]="['far','star']" ></fa-icon>
      </span>
      
    </div>
    <div class="card-body">
      <h5 class="card-title">Notes Without Reminder</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Delete</a> 
     
    </div>
  </div>  -->
  <div class="card" *ngFor="let note of Notes;let i=index">
<app-note-panel>
  <ng-container class="heading">{{note.NotesHeading}}</ng-container>
  <ng-container class='icons'>
      <fa-icon slot="start" [icon]="['fas','concierge-bell']" class="pr-1"></fa-icon>
      <fa-icon slot="start" [icon]="[note.NotesImp?'fas':'far','star']" 
      class="pr-1" (click)="onFavClick(i,note.NotesImp)"></fa-icon>
      <fa-icon slot="start" [icon]="['fas','tag']"></fa-icon>
  </ng-container>
  <ng-container class="specialnote">{{note.NotesSpecialNote}}</ng-container>
  <ng-container class="body">{{note.NotesContent}}</ng-container>

  <ng-container class="delete">
    <a class="btn btn-primary" (click)="onNoteDel(i)">Delete</a>
    <br/></ng-container>
  

  <ng-container class="reminder" *ngFor="let rem of note.NotesReminder">
      <small [class.text-muted]="rem.isExpired" 
      [class.text-white]="!rem.isExpired" [class.bg-dark]="!rem.isExpired"
      [class.border-dark]="!rem.isExpired"
      class="pr-1 border rounded-pill"
      [style.text-decoration]="rem.MarkDone?'line-through':''"
      >
          <span>
            <fa-icon [icon]="['far','clock']"></fa-icon>
          </span>{{rem.TimeStamp}}
        </small> 
  </ng-container>
  <ng-container class="footer" *ngIf="note.NotesLabel && note.NotesLabel.length">
       <div class="card-footer"> 
    <small class="text-muted pr-3" *ngFor="let lbl of note.NotesLabel">{{lbl}}</small>
      </div></ng-container> 
  
  
</app-note-panel>
</div>
</div>