<div class="card-columns">
<div class="card">
  <div class="card-header">
    Notes1 
    <span class="float-right">
      <fa-icon slot="start" [icon]="['fas','concierge-bell']" class="pr-1"></fa-icon>
      <fa-icon slot="start" [icon]="['far','star']" ></fa-icon>
    </span>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special Notes1</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Delete</a>   
    <br/>
    <small class="text-muted pr-1">
        <span>
          <fa-icon [icon]="['far','clock']"></fa-icon>
        </span>Today, 20:30</small> 
  </div>
  <div class="card-footer">
    <small class="text-muted pr-3">Notes_Label</small>
    <small class="text-muted">Notes_Label2</small>
  
  </div>
</div>

<div class="card">
  <div class="card-header">
    Notes2
    <span class="float-right">
      <fa-icon slot="start" [icon]="['fas','concierge-bell']" class="pr-1"></fa-icon>
      <fa-icon slot="start" [icon]="['far','star']" ></fa-icon>
    </span>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special Notes2</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Delete</a>  
  </div>
</div>

<div class="card">
  <div class="card-header">
    Notes3
    <span class="float-right">
      <fa-icon slot="start" [icon]="['fas','concierge-bell']" class="pr-1"></fa-icon>
      <fa-icon slot="start" [icon]="['far','star']" ></fa-icon>
    </span>
    
  </div>
  <div class="card-body">
    <h5 class="card-title">Special Notes3</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Delete</a>    
  </div>
</div>
</div>